@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css);



	.tab-content {
		border-left: 1px solid #ddd;
		border-right: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 10px solid;
	}

	.nav-tabs  {
		margin-bottom: 0;
	}

	.jumbotron{
		background-color:#666699 !important;
		color:white;
	}

.container-fluid{
	background-color:#8585ad;
}

body { background: black !important;}

