@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css);



body {
	margin: 0px auto;
	background: #000;

}

#backwall{
	width: 100%;
	height: 850px;
	margin: 0px auto;
	background: url("MMTile.png");
	animation: megaman linear 12s infinite;
}

@keyframes megaman {
	from { background-position: 0px; }
	to { background-position: 255px; }
}



a {
	text-decoration: none !important;
}

a:hover, a:visited, a:link, a:active, a:focus, a:click
{
	text-decoration: none !important;
}

#ref1, #ref2 {

}

#canvas{
	border: #666 3px solid;
	width: 100%;
	height: 200px;
	margin: 0px auto;
	background-color: black; 
}




#info {
	padding: 2%;
	margin: 1% 0;
	background-color: #6699ff;
	border-radius: 25px;
	font-family: 'Press Start 2P', cursive;
	font-size: 80%;
	float: left;
	padding-right: 1% !important;
	margin-right: 0 !important;
	background-clip: padding-box;
	border: 5px solid transparent;

}

#details{
	background-color: #99ccff;
	border-radius: 25px;



}


#perks {

	border-radius: 25px;
	background-color: #6699ff;
	overflow: hidden;
	float: right; 
	text-align: center; 
	align: center
	padding: 2%;
	margin: 1% 0;
	padding-left: 1% !important;
	margin-left: 0 !important;
	background-clip: padding-box;
	border: 5px solid transparent;

}

.lightblue{
	background-color: #99ccff !important;
	padding: 2% !important;

}

#skilltree{

	background-color: #99ccff !important;
	padding: 2% !important;
	margin: 1% 0 !important;
	border-radius: 25px;
	align-content: center !important;
	text-align: center !important;
	align-items: center !important;
	overflow: hidden;
	position:relative;
}

.skill{
	background-color: #ccddff;
	border-radius: 25px;
	padding: 1%;
	margin: 2% 1;
	font-family: 'Press Start 2P', cursive;
	font-size: 70%;
	overflow: hidden;
}

.skilldetails{
	background-color: #ccddff;
	border-radius: 25px;
	padding: 1%;
	overflow: hidden;
	font-family: 'Press Start 2P', cursive;
	font-size: 50%;

}



