@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css);

html, body {
	height: 100%;
}

body {
	margin: 0px auto;
	background: #000;

}

a {
	text-decoration: none !important;
}
a:hover, a:visited, a:link, a:active, a:focus, a:click {
	text-decoration: none !important;
}

#backwall{
	width: 100%;
	height: 100%;
	margin: 0px auto;
}
#tile{
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background: url("C:/Users/Xander/Documents/GitHub/Resumae/img/MMTile.png");
	animation: megaman linear 12s infinite;
}

@keyframes megaman {
	from { background-position: 0px; }
	to { background-position: 255px; }
}

#canvas{
	width: 100%;
	height: 25%;
	margin: 0px auto;
	background-color: black; 
}


#info {
	padding: 1%;
	margin: 1% 0;
	background-color: #000033;
	border-radius: 25px;
	font-family: 'Press Start 2P', cursive;
	font-size: 80%;
	float: left;
	margin-left: 25px: 
	border: 5px solid transparent;
	height: 60%;
}

#details{
	background-color: #003366;
	border-radius: 25px;
	height: 90%;
	
}

.infotext{
	color:#9999cc;
	padding: 2%;
	margin: 1% 0;
}

h6 {
	font-size: 3px !important;
}


#perks {
	border-radius: 25px;
	background-color: #000033;
	height: 60%;
	float: right; 
	padding: 1%; 
	margin: 1% 0;
	position: relative;
	margin-right: 25px: 


}

#perktree{
	background-color: #000033;
	margin: 0px auto;
	border-radius: 25px;
	align-content: center;
	overflow-x: hidden;
	overflow-y: scroll;
padding: 0;
	height: 90%;
	display: block;

}

::-webkit-scrollbar { 
	display: none; 
}

#perktree span{
	display: inline-block;
	animation: perkscroll 50s linear 0s infinite;
	/*animation: perkscroll 50s linear 0s infinite;*/
}

#perktree span:hover{
	animation-play-state: paused;
}

@keyframes perkscroll {
	from { transform: translateY(30%);}
	to { transform: translateY(-100%);}
}



.perkbox{
	background-color: #003366;
	color: #9999cc;
	padding: 1%;
	overflow: hidden;
	font-family: 'Press Start 2P', cursive;
	font-size: 50%;
	border-radius: 25px;
	width: 100%;
	margin: 0px auto;
	display: inline-block;
}



#perkheader{
	padding: 2%;
	margin: 1% 0;
	text-align: center;
	color: #000099;
	font-family: 'Press Start 2P', cursive;
	font-size: 120%;
}

.perktitle{
	color: #000099;
	padding: 0%;
	font-family: 'Press Start 2P', cursive;
	font-size: 120%;
	margin-bottom: 2%;
	text-align: center;
	margin: 1%;
}

.perkicon {
	margin: 1px auto;
	padding: 0%;
	float: left;
}




