<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);
=======
=======
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';
>>>>>>> parent of d2de9ea... starting jQueiry
=======
@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';
>>>>>>> parent of d2de9ea... starting jQueiry

@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';
>>>>>>> parent of a862c42... Starting Layout

#sign1{
  background: lightblue;
  text-align: center;
}

body{
  background: powderblue;
  text-align: center;
}

.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

<<<<<<< HEAD

#name1{
font-family: 'Bungee Shade', cursive; 
}

=======
>>>>>>> parent of d2de9ea... starting jQueiry
nav{
	width: 100%;
	margin: 1% auto;
	overflow: hidden;
}

nav ul {
	list-style: none;
	overflow: hidden;
}

nav li a {
	background: #737373;
	border-right: 1px solid #454545;
	color: #FAFAFA;
	display: block;
	float: left;
	font-size: 120%;
	font-weight: 600;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	width: 16.65%;
	transition: background 0.5s ease;
}

nav li a:hover, nav li.active a{
	background: #DADADA;
	color: #454545;
}

nav li:last-child a{
	border: none;
}

.banner {
	width: 100%;
}

.banner img {
	width: 100% !important;
	height: auto;
}


<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
section{
	float: left;
	width: 60%;
	padding: 2%;
	margin: 1% 0;
	background-color: #6B6B6B;
}

aside{
	float: right;
	width: 38%;
	padding: 2%;
	margin: 1% 0;
	background-color: #6B6B6B;
}

footer{
	float: left;
	width: 100%;
	padding: 2%;
	margin: 1% 0;
	background-color: #6B6B6B;
	text-align: center;
}

.one-third{
	float: left;
	width: 31%;
	padding: 1%;
	margin: 0% 1%;
}

/*---Media Queries---*/

@media only screen and (max-width: 780px){
	nav{
		margin: 2% auto
	}
	nav li a {
		width: 33.3%;
		font-size: 90%;
		padding-top: 2%;
		padding-bottom: 2%;
		border-bottom: 1px solid #454545;
	}
	nav li:nth-child(3) a {
		border-right: none;
	}
	section{
		width: 100%; 
	}
	aside{


		width: 100%;
	}
	.one-third{
		width: 100%;
	}
	h2 {
		font-size: 105%;
	}
	p{
		font-size: 95%;
	}
}


@media only screen and (max-width: 580px){
	nav li a {
		width: 50%;
		font-size: 82%;
		padding-top: 2%;
		padding-bottom: 2%;
		border-bottom: 1px solid #454545;
	}
	nav li:nth-child(even) a {
		border-right: none;
	}
	nav li:nth-child(3) a {
		border-right: 1px solid#454545;
	}
	h2 {
		font-size: 95%;
	}
	p{
		font-size: 88%;
	}
}


=======




/*#mp3_player{

width:500px; height:60px; background:#000; padding:5px; margin:50px auto; 
div > audio  width:500px; background:#000; float:left;  
canvas width:500px; height:30px; background:#002D3C; float:left; 

}
*/
>>>>>>> parent of a862c42... Starting Layout
=======
>>>>>>> parent of d2de9ea... starting jQueiry
=======
>>>>>>> parent of d2de9ea... starting jQueiry
