@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css);

html, body {
	height: 100%;
}

body {
	margin: 0px auto;
	background: #000;
}

a {
	text-decoration: none !important;
}
a:hover, a:visited, a:link, a:active, a:focus, a:click {
	text-decoration: none !important;
}

#backwall{
	width: 100%;
	height: 100%;
	margin: 0px auto;
}
#tile{
	width: 100%;
	height: 100%;
	margin: 0px auto;
	background: url("C:/Users/Xander/Documents/GitHub/Resumae/img/MMTile.png");
	animation: megaman linear 12s infinite;
}

@keyframes megaman {
	from { background-position: 0px; }
	to { background-position: 255px; }
}

#canvas{
	width: 100%;
	height: 25%;
	margin: 0px auto;
	background-color: black; 
}


#info {
	padding: 1%;
	margin: 1% 0;
	background-color: #000033;
	border-radius: 25px;
	font-family: 'Press Start 2P', cursive;
	font-size: 80%;
	float: left;
	border: 1px solid transparent;
	height: 100%;
}

#details{
	background-color: #003366;
	border-radius: 25px;
	height: 90%;
	
}

.infotext{
	color:#9999cc;
	padding: 2%;
	margin: 1% 0;
}


#perks {
	border-radius: 25px;
	background-color: #000033;
	height: 100%;
	float: right; 
	padding: 1%; 
	margin: 1% 0;
	position: relative;
	overflow: hidden;
}

#perktree{
	background-color: #000033;
	margin: 0px auto;
	border-radius: 25px;
	align-content: center;
	overflow-y: scroll;
	padding: 0;
	height: 90%;
	display: block;
}

::-webkit-scrollbar { 
	display: none; 
}

#perktree span{
	display: inline-block;

	animation: perkscroll 50s linear 0s infinite;
}

#perktree span:hover{
	animation-play-state: paused;
}

@keyframes perkscroll {
	from { transform: translateY(20%);}
	to { transform: translateY(-100%);}
}



.perkbox{
	background-color: #003366;
	color: #9999cc;
	padding: 1%;
	overflow: hidden;
	font-family: 'Press Start 2P', cursive;
	font-size: 50%;
	border-radius: 25px;
	width: 100%;
	margin: 0px auto;
	display: inline-block;
}

#perkheader{
	padding: 2%;
	margin: 0% 0;
	text-align: center;
	color: #000099;
	font-family: 'Press Start 2P', cursive;
	font-size: 120%;
}

.perktitle{

	padding: 2%;
	font-family: 'Press Start 2P', cursive;
	font-size: 140%;
	text-align: center;
	margin: 0% auto;

}

.perktitle img{
	margin: 1px auto;
	padding: 0%;
}

.perkdetails {
	height: 100%;
	margin: 0% auto;
	padding: 2%;
	position: relative;
	text-indent: 5px;
}

@media screen and (max-width: 768px) {

	#perks {display: none;}

}


