@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);

@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css);

body {
	margin: 0px auto;
	background: #000;
}

a {
	text-decoration: none !important;
}
a:hover, a:visited, a:link, a:active, a:focus, a:click {
	text-decoration: none !important;
}

#backwall{
	width: 100%;
	height: 920px;
	margin: 0px auto;
}
#tile{
	width: 100%;
	height: 975px;
	margin: 0px auto;
/* Desktop absolute location	
background: url("file:///C:/Users/Xander/Source/Repos/Resumae/img/MMTile.png");
*/
	background: url("C:/Users/Xander/Documents/GitHub/Resumae/img/MMTile.png");
	animation: megaman linear 12s infinite;
}

@keyframes megaman {
	from { background-position: 0px; }
	to { background-position: 255px; }
}

#canvas{

	width: 100%;
	height: 200px;
	margin: 0px auto;
	background-color: black; 
}

#ref1, #ref2 {

}

#info {
	padding: 2%;
	margin: 1% 0;
	background-color: #000033;
	border-radius: 25px;
	font-family: 'Press Start 2P', cursive;
	font-size: 80%;
	float: left;
	margin-left: 45px; 
	background-clip: padding-box;
	border: 5px solid transparent;
	max-height: 600px;

}

#details{
	background-color: #003366;
	border-radius: 25px;
}

.infotext{
	color:#9999cc;
	padding: 2%;
	margin: 1% 0;
}

h6 {
	font-size: 3px !important;
}


#perks {

	border-radius: 25px;
	background-color: #000033;
	overflow: hidden;
	float: right; 
	text-align: center; 
	align: center
	padding: 2%;
	margin: 1% 0;
	margin-right: 45px;
	background-clip: padding-box;
	border: 5px solid transparent;


}

.lightblue{
	background-color: #9999cc !important;
	padding: 2% !important;

}

#skilltree{

	background-color: #000033 !important;
	padding: 2% !important;
	margin: 1% 0 !important;
	border-radius: 25px;
	align-content: center !important;
	text-align: center !important;
	align-items: center !important;
	overflow: hidden;
	position:relative;
}

.skill{
	background-color: #003366;
	border-radius: 25px;
	padding: 1%;
	margin: 2% 1;
	font-family: 'Press Start 2P', cursive;
	font-size: 70%;
	overflow: hidden;
}

.skilldetails{
	background-color: #003366;
	border-radius: 25px;
	padding: 1%;
	overflow: hidden;
	font-family: 'Press Start 2P', cursive;
	font-size: 50%;

}



