@import 'https://fonts.googleapis.com/css?family=Bungee+Shade';

#sign1{
  background: lightblue;
  text-align: center;
}

body{
  background: powderblue;
  text-align: center;
}

.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


h1{
font-family: 'Bungee Shade', cursive; 
}

#name1{
font-family: 'Bungee Shade', cursive; 
font-size: 90px;
}


/*#mp3_player{

width:500px; height:60px; background:#000; padding:5px; margin:50px auto; 
div > audio  width:500px; background:#000; float:left;  
canvas width:500px; height:30px; background:#002D3C; float:left; 

}
*/

