@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: #454545;
	padding: 2%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 22px;
	color: #FAFAFA;
	line-height: 26px;
	text-align: justify;

}

header{
	text-align: center;
}

p{
	text-indent: 5%;
}

h2{
	text-align: center;
	line-height: 125%;
}

/*---Start Navagation---*/

nav{
	width: 100%;
	margin: 1% auto;
	overflow: hidden;
}
nav ul {
	list-style: none;
	overflow: hidden;
}
nav li a {
	background: #737373;
	border-right: 1px solid #454545;
	color: #FAFAFA;
	display: block;
	float: left;
	font-size: 120%;
	font-weight: 600;
	padding: 1%;
	text-align: center;
	text-decoration: none;
	width: 16.65%;
	transition: background 0.5s ease;
}

nav li a:hover, nav li.active a{
	background: #DADADA;
	color: #454545;
}

nav li:last-child a{
	border: none;
}
/*---End Navagation---*/

.banner {
	width: 100%;
}

.banner img {
	width: 100% !important;
	height: auto;
}

section{
	float: left;
	width: 60%;
	padding: 2%;
	margin: 1% 0;
	background-color: #6B6B6B;
}

aside{
	float: right;
	width: 38%;
	padding: 2%;
	margin: 1% 0;
	background-color: #6B6B6B;
}

footer{
	float: left;
	width: 100%;
	padding: 2%;
	margin: 1% 0;
	background-color: #6B6B6B;
}

.one-third{
	float: left;
	width: 31%;
	padding: 1%;
	margin: 0% 1%;
}